.aEmpresa{
    width: 100%;
    height: fit-content;
    background-color:azure;
    align-items:center;
    text-align:justify;
    justify-content:start;
    vertical-align:top;
    flex-direction: column;
    display: flex;
}

.valores{
    width: 85%;
    height: 2000px;
    margin-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items:start;
    text-align:justify;
    justify-content:start;
    vertical-align:top;
    flex-direction: column;
    display: flex;
}

.nossaEquipe{
    width: 85%;
    height: fit-content;
    margin-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items:start;
    text-align:justify;
    justify-content:start;
    vertical-align:top;
    flex-direction: column;
    display: flex;
}

.valores li{
    padding-block:8px;
}

.valores ul{
    list-style-position: inside;
}

.valores p{
    padding-block:5px;
}

.valores h1{
    padding-top:10px;
    color: black;
    margin: 0px;
}

h2{
    padding-block:10px;
    color: black;
}

h3{
    padding-block:10px;
    color: black;
}