@media (max-width:320px)  { 
    h1 {
        font-size: 2vw;
    }
    a, p, div {
        font-size: 2vw;
    }
}

@media (min-width:320px)  { 
    h1 {
        font-size: 4vw;
    }
    a, p, div {
        font-size: 2vw;
    }
}

@media (min-width:481px)  { 
    h1 {
        font-size: 3vw;
    }
    a, p, div {
        font-size: 2vw;
    }
}

@media (min-width:641px)  { 
    h1 {
        font-size: 3vw;
    }
    a, p, div {
        font-size: 2vw;
    }
}

@media (min-width:961px)  { 
    h1 {
        font-size: 2vw;
    }
    a, p, div {
        font-size: 1.3vw;
    }
}

@media (min-width:1025px) { 
    h1 {
        font-size: 2vw;
    }
    a, p, div {
        font-size: 1.3vw;
    }
}