.financiar{
    width: 100%;
    height: 1200px;
    background-color:azure;
    align-items:center;
    text-align:justify;
    justify-content:start;
    vertical-align:top;
    flex-direction: column;
    display: flex;
}

.financiar h1{
    padding-top:30px;
    padding-bottom: 0px;
    align-items:center;
    text-align:center;
    justify-content:center;
    vertical-align:middle;
    flex-direction: row;
    display: flex;
}

.introducao{
    width: 85%;
    height: 800px;
    margin-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items:start;
    text-align:justify;
    justify-content:center;
    vertical-align:middle;
    flex-direction: column;
    display: flex;
}

.documentosLocatario{
    width: 85%;
    height: 650px;
    margin-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items:start;
    text-align:justify;
    justify-content:start;
    vertical-align:middle;
    flex-direction: column;
    display: flex;
}

.introducao li{
    padding-block:5px;
}

.introducao ul{
    list-style-position: inside;
}

.documentos p{
    padding-block:5px;
}

h2{
    padding-block:10px;
}

h3{
    padding-block:10px;
}